<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EWB-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F624C9971DC0200800E69C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F624C9AD1DC0200800E69C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F624C9B81DC0200800E69C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
